# API Tester
To make this test on localhost, go to Terminal and run 'python handler.py' first.

To make this test on cloud, first change url for the API call here.

In [1]:
import requests, json
import pickle
import sys
from pathlib import Path

In [2]:
# loading test dataset
path = str(Path.cwd().parents[0]) # go to parent directory

df_test = pickle.load(open(path+'/data/interim/x_val.pkl', 'rb'))
df_test['response'] = pickle.load(open(path+'/data/interim/y_val.pkl', 'rb'))

# export dataframe as csv for use in Google Sheets
# df_test.to_csv(path+'/data/interim/df_validation.csv', index = False)

# convert dataframe to json
data = json.dumps(df_test.to_dict(orient = 'records'))

In [5]:
# API call
url = 'http://0.0.0.0:5000/predict' # localhost
# url = 'https://healthinsurancejoaomj.herokuapp.com/predict'
header = {'Content-type':'application/json'}
r = requests.post(url, data=data, headers=header)
print('Status Code: {}'.format(r.status_code))

Status Code: 200

In [6]:
import pandas as pd

d1 = pd.DataFrame(r.json(), columns = r.json()[0].keys())
d1.sort_values('score', ascending = False, inplace = True)

In [9]:
d1.head(100)

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,previously_insured,annual_premium,vintage,score
0,185970,0.103695,0.907692,0.063902,8,1,Used,0,1,0.634332,0.415225,1.0
41790,232039,0.139181,0.046154,0.187636,152,1,Used,0,1,1.576947,0.785467,1.0
41772,261308,0.139181,0.323077,0.123719,124,1,Used,0,1,-1.624465,0.352941,1.0
41775,141894,0.103695,0.092308,0.111730,152,1,Used,0,1,0.719015,0.692042,1.0
41777,173051,0.139181,0.030769,0.095002,152,1,Used,0,1,-0.255879,0.730104,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
41711,32788,0.139181,0.123077,0.072702,152,1,Used,0,1,-0.253436,0.470588,1.0
41542,302971,0.103695,0.092308,0.088652,152,1,Used,0,1,-0.203185,0.550173,1.0
41600,157450,0.103695,0.076923,0.072702,160,1,Used,0,1,0.254832,0.920415,1.0
41589,343037,0.103695,0.584615,0.127067,26,1,Used,1,1,0.733439,0.408304,1.0
41590,276517,0.139181,0.492308,0.187636,26,1,Used,0,1,0.180968,0.629758,1.0