# API Tester
To make this test on localhost, go to Terminal and run 'python handler.py' first.

To make this test on cloud, first change url for the API call here.

In [3]:
import requests, json
import pickle
import sys
from pathlib import Path

In [4]:
# loading test dataset
path = str(Path.cwd().parents[0]) # go to parent directory

df_test = pickle.load(open(path+'/data/interim/x_val.pkl', 'rb'))
df_test['response'] = pickle.load(open(path+'/data/interim/y_val.pkl', 'rb'))

# export dataframe as csv for use in Google Sheets
# df_test.to_csv(path+'/data/interim/df_validation.csv', index = False)

# convert dataframe to json
data = json.dumps(df_test.to_dict(orient = 'records'))

In [75]:
# API call
# url = 'http://0.0.0.0:5000/predict' # localhost
url = 'https://healthinsurancejoaomj.herokuapp.com/predict'
header = {'Content-type':'application/json'}
r = requests.post(url, data=data, headers=header)
print('Status Code: {}'.format(r.status_code))

Status Code: 200

In [76]:
d1 = pd.DataFrame(r.json(), columns = r.json()[0].keys())
d1.sort_values('score', ascending = False, inplace = True)

In [77]:
d1.sample(10)

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,previously_insured,annual_premium,vintage,score
38862,40671,0.139181,0.292308,0.095002,154,1,Used,1,0,0.556746,0.591696,0.571429
75198,16091,0.103695,0.292308,0.122498,124,1,Used,1,0,-0.004857,0.871972,0.571429
58097,346297,0.139181,0.292308,0.135057,131,1,Used,0,1,0.051094,0.294118,1.000000
69988,203430,0.139181,0.815385,0.187636,13,1,Used,0,1,-0.265767,0.446367,1.000000
19594,328070,0.139181,0.430769,0.127201,26,1,Used,1,0,-1.624465,0.861592,0.714286
10092,359231,0.139181,0.430769,0.187636,124,1,Used,1,0,0.166602,0.380623,1.000000
7492,91687,0.139181,0.400000,0.122498,124,1,Used,1,0,0.907747,0.297578,0.857143
49806,100990,0.139181,0.753846,0.095002,152,1,Used,0,1,-0.000087,0.387543,1.000000
74146,224580,0.103695,0.030769,0.086853,152,1,Used,1,0,1.131085,0.958478,0.857143
26246,261520,0.103695,0.076923,0.122498,152,1,Used,0,1,-0.313866,0.591696,1.000000