# API Tester
To make this test on localhost, go to Terminal and run 'python handler.py' first.

To make this test on cloud, first change url for the API call here.

In [44]:
import requests, json
import pickle
import sys
from pathlib import Path

In [51]:
# loading test dataset
path = str(Path.cwd().parents[0]) # go to parent directory

df_test = pickle.load(open(path+'/data/interim/x_val.pkl', 'rb'))
df_test['response'] = pickle.load(open(path+'/data/interim/y_val.pkl', 'rb'))

# convert dataframe to json
data = json.dumps(df_test.to_dict(orient = 'records'))

In [71]:
# API call
url = 'http://0.0.0.0:5000/predict' # localhost
# url = 'https://healthinsurancejoaomj.herokuapp.com/predict'
header = {'Content-type':'application/json'}
r = requests.post(url, data=data, headers=header)
print('Status Code: {}'.format(r.status_code))

Status Code: 200

In [72]:
d1 = pd.DataFrame(r.json(), columns = r.json()[0].keys())
d1.sort_values('score', ascending = False, inplace = True)

In [73]:
d1.sample(10)

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,previously_insured,annual_premium,vintage,score
43529,157312,0.139181,0.553846,0.068171,26,1,Used,1,0,-1.624465,0.813149,1.000000
34446,183469,0.103695,0.046154,0.092901,152,1,Used,0,1,0.534179,0.626298,1.000000
42075,348548,0.139181,0.015385,0.068816,152,1,Used,0,1,0.321252,0.200692,1.000000
36626,49249,0.139181,0.430769,0.187636,154,1,Used,1,0,-0.262393,0.681661,0.857143
60417,167178,0.103695,0.076923,0.074074,152,1,Used,0,1,-0.276177,0.114187,1.000000
37972,187361,0.139181,0.400000,0.123719,124,1,Used,1,0,-0.251924,0.349481,0.714286
9129,16153,0.139181,0.061538,0.074135,152,1,Used,0,1,-0.156831,0.148789,1.000000
18424,96049,0.139181,0.153846,0.095002,7,1,Used,0,1,0.496084,0.498270,1.000000
56061,28106,0.103695,0.615385,0.129623,157,1,Used,1,0,-1.624465,0.252595,0.571429
157,77455,0.139181,0.769231,0.187636,26,1,Used,0,1,-0.002297,0.570934,1.000000